@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1440px;
  --aspect-ratio: 1.8;
}

@font-face {
  font-family: "SamsungSharpSans";
  src: url("./assets/fonts/samsungsharpsans.otf") format("opentype");
  font-weight: normal; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "SamsungSharpSans";
  src: url("./assets/fonts/samsungsharpsans-medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SamsungSharpSans";
  src: url("./assets/fonts/samsungsharpsans-bold.otf") format("opentype");
  font-weight: bold; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("./assets/fonts/SamsungOne-400.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SamsungOne";
  src: url("./assets/fonts/SamsungOne-700.ttf") format("opentype");
  font-weight: bold; /* Bold */
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SamsungSharpSans', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  height: calc(var(--max-width) / var(--aspect-ratio));
}

@media (max-width: var(--max-width)) {
  .container {
    height: calc(100vw / var(--aspect-ratio));
  }
}